{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "config": "./src/config",
        "constants": "./src/constants",
        "dao": "./src/dao",
        "launch": "./src/launch",
        "modules": "./src/modules",
        "utils": "./src/utils",
        "src": "./src"
      }
    }],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ]
}
